body {
    margin: 30px;
    display: flex;
    flex-direction: column;
}


ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}


main {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#movie {
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
}