body {
    margin: 30px;
    display: flex;
    flex-direction: column;
}

main {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 70px;
    background-color: #33312e;
    background-attachment: fixed;
}

#movie {
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
}

footer {
    padding: 10px;
    height: 20px;
}

.about {
    color: white;
}

.card {
    margin: 10px;
}

.name {
    text-align: center;
    width: 700px;
    height: inherit;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    color: black;
    background-color: white;
    border-radius: 5px;
}

.dev-names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.prof-img {
    height: 150px;
    width: 130px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
}

.navbar-brand {
    font-size: 40px !important;
}

.nav-link {
  font-size: 20px !important;
}
